

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
*, *:before, *:after {
    font-family: roboto;
    box-sizing: border-box;
}
.orange-ify{
    display: inline;
    color: #ff5c0f;
}
a{
    color: black;
}
a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:active{
    text-decoration: none;
  }
  .orange-hover:hover{
    color:#ff5c0f;
  }
  li{
    margin-bottom: 10px;
  }
  #home{
    margin: 0;
    padding: 15px;
    padding-left: 10px;
    background-color: #F2F2F2;

  }
  
  .bubbled{
    display: block;
    background-color: #20a8b4;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    color: white;
  }
  .bubbled:hover{
    background-color: #ff5c0f;
  }
  header{
    margin-top: 0;
    background-color: #F2F2F2;
    margin-left: 0px;
    padding : 0;
  }
ul{
  list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding : 0;
    margin-right: 0;
    margin-left: 10px;
    margin-top: 0;


}
img{
  display: none;
}
@media screen and (min-width: 768px){
  ul{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  img{
    float: right;
    display: inline;
    justify-content: end;
    width: 300px;
    transform: translateY(-75px);
  }
  a{
    display : inline;
    margin: 5px;
  }
  h1{
    position: absolute;
    justify-content: left;
    display: inline;
    align-items: center;
  }
  .bubbled{
    display: inline;
    margin-left: 0;
  }
  h2{
    margin-bottom: 0;
  }

  .page-data{
    position: relative;
    transform: translateY(75px);
  }
  p{
    display: block;
    margin-bottom: 1.5em;
    margin-top: 1em;

  }
  li{
    padding-left: 5px;
  }
}
body{
    margin: 0;
    padding: 0;
}
html {
    margin-top: 0;
}
.page-data{
  margin-top: 5em;
  margin-left: 5px;
}